[package]
name = "sr-policy"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
serde.workspace = true
serde_yaml.workspace = true
serde_json.workspace = true
regex.workspace = true
sr-common = { path = "../sr-common" }
